@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root{
    --green1: #54BE68;
    --green2: #2CB060;
    --green3: #1AA261;
    --green4: #0C8D64;
    --green5: #037868;

}


body{
    display: grid;
    color: white;
}

header{
    background-color: var(--green1);
    display: flex;
    position: relative;
}

main{
    background-color: var(--green3);
    background-image: url(../assets/Kungsangsliljor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    height: 100vh;
    overflow: hidden;

    
}

footer{
    background-color: var(--green5);
    display: grid;
    grid-template-columns: 2;
}

/*Header*/

.topbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tb-title{
    background-color: var(--green4);
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2vw;
    padding-right: 2vw;
}

.tb-about-container-2{
    padding-top: 1.2rem;
    
}

.tb-about-2{
    color: white;
    font-size: 1.5rem;
}

.tb-gallery-container-2{
    padding-top: 1.2rem;
    margin-right: 40%;
}

.tb-gallery-2{
    color: white;
    font-size: 1.5rem;
}

/*For mobile dropdown menu*/
.tb-menu-icon{
    height: 3rem;
    display: none;
    align-self: center;
    margin-right: 20px;
}

.dropdown-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--green2);
    border-radius: 0 20px 20px 0px;
    width: 90vw;
    position: absolute;
    z-index: -1;
    margin-top: 3.8rem;
    
    transition: 0.3s ease-in-out;
}

.hide-dropdown{
    transform: translateX(-100vw);
}

.tb-about-container{
    margin-left: 10%;
}

.tb-about{
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

.tb-gallery-container{
    margin-right: 10%;
}

.tb-gallery{
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
/*END*/


/*Main*/
.main-container{
    display: grid;
    grid-template-columns: 35% 1fr 35%
}

.main-title-container{
    display: flex;
    justify-content: center;

    grid-row: 1;
    grid-column: 1/4;
}

.main-title-text{
    margin-top: 5%;
    width: fit-content;
    text-align: center;
}

.main-title{
    color: white;
    font-weight: 550;
    font-size: 3vw;
    font-weight: 500;
}

.main-quote{
    color: whitesmoke;
    font-size: 2vw;
    text-align: center;
    font-style: italic;
}

.main-per-container{
    background-color: var(--green2);
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 15%;

    grid-row: 2;
    grid-column: 1;
}

.main-per{
    padding: 2rem;
    display: grid;
    margin-bottom: 1rem;
}

.main-per h1{
    width: fit-content;
    color: white;
}

.main-per h2{
    color:gainsboro;
    font-size: 1.5rem;
    grid-column: 1;
    font-style: italic;
}

.main-per img{
    width: 40vh;
    max-width: 150px;
    border-radius: 50%;
    grid-column: 2;
}

.main-about-container{
    background-color: var(--green2);
    border-radius: 10px;
    margin-right: 15%;
    margin-top: -10%;

    grid-row: 3;
    grid-column: 3/4;
}

.main-about-text{
    padding: 2rem;
}

.main-about-text h2{
    color: gainsboro;
    font-style: italic;
}



/*Footer*/
.foot-contact-socialmedia{
    width: fit-content;
    display: grid;
    align-content: center;
    margin-left: 5vh;
    grid-column: 1;
}

.foot-instagram{
    width: 60px;
    transition: 0.2s ease-in-out;
    
}

.foot-instagram:hover{
    transform: scale(1.1);
}

.foot-contact-info{
    margin: 2rem;
    margin-right: 20%;
    display: grid;
    grid-row-gap: 20px;
    grid-column: 2;

}

.foot-contact-info > *{
    font-size: 1.5rem;
    color: white;    
}

.foot-contact-info > * > h1{
    font-size: 1.5rem;
}

.foot-contact-info > * > a{
    text-decoration: none;
    color: white;
}



/*Effect styling*/
.line-under-container{
    display: inline-block;
    position: relative;
}

.line-under::after{
    content: "";
    background-color: white;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    
    transition: 0.2s ease-in-out;
}

.line-under-container:hover > .line-under::after{
    width: 100%;
}


/*
Mobile Styling

Change font sizes
Hide elements that are not required for easy navigation in a mobile enviroment
*/

@media (pointer:none), (pointer:coarse) {
    
    .computer{
        display: none;
    }

    .tb-menu-icon{
        display: block;
    }

    main{
        background-image: url(../assets/Kungsangsliljor.jpg);
        background-repeat:repeat-y;
        background-position: -20vw;
        height: auto;
    }
    
    .main-container{
        display: flex;
        flex-wrap: wrap;
    }

    .main-title{
        font-size: 10vw;
        margin-top: 4rem;
    }
    
    .main-quote{
        font-size: 6vw;
    }

    .main-per-container{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
    }

    .main-per img{
        width: 120px;
        margin-top: -40px;
    }

    .main-about-container{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .foot-contact-socialmedia{
        grid-row: 1;
        margin-top: 2rem;
    }

    .foot-contact-info{
        width: 100%;
        grid-row: 2;
        grid-column: 1/2;
        margin-left: 10px;
    }
    
}