*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

:root {
    --red: #f72585;
    --blue: #4cc9f0;
    --dark: #0d1b2a;
    --light-dark: #1b263b;
    --gray: #415a77;
    --light-gray: #778da9;
    --white: #e0e1dd;
}

body {
    background-color: var(--gray);
}

header {
    display: flex;
    justify-content: center;
    margin-top: 10vmin;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
}


.score-container {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    border: var(--light-dark) 1vmin solid;
    border-radius: 2vmin;
    padding: 2vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    font-size: 4vmin;
    color: var(--white);
}

.score-container > span:nth-child(1) {
    width: 5vmin;
    height: 5vmin;
    margin-right: 1vmin;
    border-radius: 50%;
    background-color: var(--red);
}


.score-container > span:nth-child(3) {
    width: 5vmin;
    height: 5vmin;
    margin-left: 1vmin;
    border-radius: 50%;
    background-color: var(--blue);
}

.game-container {
    background-color: var(--light-dark);
    width: fit-content;
    
    display: grid;
    grid-template-rows: repeat(3, 18vmin);
    grid-template-columns: repeat(3, 18vmin);
    gap: 2vmin;
    padding: 2vmin;
    border-radius: 2vmin;
}

.cell {
    background-color: var(--dark);
    width: 18vmin;
    height: 18vmin;
    border-radius: 2vmin;
    cursor: pointer;

    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.cell > .cross {
    position: absolute;
    background-color: var(--dark);
    width: 2vmin;
    height: 14vmin;
    margin-top: 2vmin;
    border-radius: 0.5vmin;
    animation: loadCross 0.7s;
}

.cell > .cross:nth-child(1) {
    transform: rotateZ(45deg);
}
.cell > .cross:nth-child(2) {
    transform: rotateZ(-45deg);
}

.cell > .circle {
    position: absolute;
    background-color: var(--dark);    
    margin-top: 2vmin;
    border-radius: 50%;
    width: 14vmin;
    height: 14vmin;
    animation: loadCircle 0.7s;
    
}

.cell > .circle:nth-child(2) {
    background-color: var(--blue);
    margin-top: 4vmin;
    width: 10vmin;
    height: 10vmin;
}

.occupied {
    cursor: default;
}

.red {
    background-color: var(--red);
}

.red-text {
    color: var(--red);
}

.blue {
    background-color: var(--blue);
}

.blue-text {
    color: var(--blue);
}

.white-text {
    color: var(--white);
}

.low-opacity {
    opacity: 0.5;
}

.hide {
    display: none;
}

.win-container {
    position: absolute;
    font-size: 4vmin;
    z-index: 1337;
    margin-top: 20vmin;
    padding: 2vmin;
    background-color: var(--dark);
    border: var(--light-dark) 1vmin solid;
    border-radius: 2vmin;
}

@keyframes loadCross {
    0% {
        transform: rotateZ(0deg);
        height: 0;
    }
    
}

@keyframes loadCircle {
    0% {
        transform: scale(0);
    }
}