@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

:root{
    --green1: #54BE68;
    --green2: #2CB060;
    --green3: rgb(26, 162, 97);
    --green4: #0C8D64;
    --green5: #037868;

    --gray: rgb(221, 221, 221);
}

body{
    display: grid;
    color: white;
    overflow-x: hidden;
}

main {
    margin-top: 4rem;
}

main > h1 {
    padding-top: 2rem;
    color: black;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

main > h2 {
    color: black;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

main > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;

    padding: 2rem;
}

main > .container > img {
    max-height: 40vh;
    max-width: 80vw;
}



@media (pointer:none), (pointer:coarse) { 
    main > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;
    }

    main > .container > img {
        max-height: 40vh;
    }

    main > h2, h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}